    </div><!-- .container-fluid -->

    <footer>
      <p class="text-center">
#if ($rdf_link)
        <a class="muted" href="$rdf_link?output=ttl">As Turtle</a> |
        <a class="muted" href="$rdf_link?output=xml">As RDF/XML</a> |
#end
        <a class="muted" href="http://derilinx.com/">Powered by Derilinx</a>
      </p>
    </footer>
    <script src="${server_base}static/js/jquery-1.10.2.min.js"></script>
    <script src="${server_base}static/script.js"></script>
  </body>
</html>
