<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
#if ($head_title)
      $head_title
#else
      $title
#end
#if ($project_name)
      | $project_name
#end
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
#if ($rdf_link)
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link" title="RDF" />
#end
    <link rel="stylesheet" type="text/css" href="${server_base}static/style.css" />
    <link rel="stylesheet" type="text/css" href="${server_base}static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="${server_base}static/css/bootstrap-responsive.css" />
  </head>
  <body>
#if ($project_name)
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
#if ($project_link)
          <a class="brand" href="$project_link">$project_name</a>
#else
          <a class="brand" href="$server_base">$project_name</a>
#end
          <form class="navbar-search pull-right" action="/sparql">
            <input type="text" name="q" class="search-query" placeholder="Search">
            <input type="hidden" name="query" value="PREFIX papp: <http://vocab.deri.ie/papp#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> SELECT ?result ?label ?date ?status WHERE { ?result ?p ?o. ?o bif:contains ?q.  OPTIONAL { ?result rdfs:label ?label } OPTIONAL { ?result papp:received ?date } OPTIONAL { ?result papp:status ?status } } LIMIT 100">
          </form>
          <ul class="nav pull-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="http://localhost:8890/sparql">Query</a></li>
          </ul>
        </div>
      </div>
    </div>
#end
    <div class="container-fluid">
      <div class="page-header">
#if ($rdf_link)
        <ul class="rdf-icon nav nav-pills pull-right">
          <li><a href="$rdf_link" title="RDF data"><img src="${server_base}static/rdf-icon.gif" alt="This page in RDF" /></a></li>
        </ul>
#end
        <h1>$title</h1>
#if ($uri)
        <div class="truncate"><a class="muted" href="$uri">$uri</a></div>
#end
      </div>
