#parse("header.vm")
#if ($comment)
  <p class="lead">$comment</p>
#end
#if ($image)
  <p class="image text-center"><a href="$image"><img class="img-polaroid" src="$image" alt="Depiction of $title"></p>
#end

#if (!$properties.Empty)
#parse("proptable.vm")
#else
  <p>No further information is available.</p>
#end
  </div>

#if ($metadata)
  <a name="meta"></a>
  <h2>Metadata</h2>
  <div id="metadata-tables">
#parse("metadatatable.vm")
  </div>
  <a href="#meta" onclick="showAllMetadata('metadata-tables')">expand all</a>
#end

#parse("footer.vm")
