#parse("header.vm")
#if ($comment)
  <p class="lead">$comment</p>
#end
#if ($image)
  <p class="image text-center"><a href="$image"><img class="img-polaroid" src="$image" alt="Depiction of $title"></p>
#end

#if (!$properties.Empty)
#parse("proptable.vm")
#else
  <p>No further information is available.</p>
#end

#if ($metadata)
  <h3>Metadata <small><a href="#" class="expand-meta-all">expand all</a></small></h3>
#parse("metadatatable.vm")
#end

#parse("footer.vm")
