## Renders a set of ResourceProperties, given in $properties, as a property-value table
  <table class="table table-bordered property-table">
    <colgroup>
      <col class="property-column" span="1">
      <col class="value-column" span="1">
    </colgroup>
    <thead>
      <tr><th>Property</th><th>Value</th></tr>
    </thead>
    <tbody> 
#foreach ($property in $properties)
      <tr>
        <td>
#parse("property-name.vm")
        </td>
        <td class="property-value">
#if ($property.hasOnlySimpleValues())
#parse("values.vm")
#else
#if ($property.ValuesPageURL)
          <a href="$property.ValuesPageURL">
            <span class="badge">$property.ValueCount</span>
          </a>
#else
          <span class="badge">$property.ValueCount</span> <small class="muted">&nbsp;&nbsp;anonymous</small>
#end
#end
        </td>
      </tr>
#end
    </tbody>
  </table>
