## Renders a set of ResourceProperties, given in $properties, as a property-value table
    <table class="description">
      <colgroup>
        <col class="property-column" span="1">
        <col class="value-column" span="1">
      </colgroup>
#foreach ($property in $properties)
#if ($velocityCount % 2 == 0)
#set ($odd_even = "even")
#else
#set ($odd_even = "odd")
#end
      <tr class="$odd_even">
        <td class="property">
#parse("property-name.vm")
        </td>
        <td>
#if ($property.hasOnlySimpleValues())
#parse("values.vm")
#else
          <span class="values-summary">
#if ($property.ValueCount == 1)
#set ($text = "1 value")
#else
#set ($text = "$property.ValueCount values")
#end
#if ($property.ValuesPageURL)
            [<a href="$property.ValuesPageURL">$text</a>]
#else
            [$text]
#end
          </span>
#end
        </td>
      </tr>
#end
    </table>
