## Renders the values of a single ResourceProperties, given in $property, as an unordered list
#if ($property.SimpleValues.size() > 1)
  #set ($multi = "multi")
#else
  #set ($multi = "")
#end

<ul class="$multi property-values unstyled">
#foreach ($value in $property.SimpleValues)
  <li>
#parse ("rdf-term.vm")
  </li>
#end
</ul>
