## Renders a page showing the values of a single ResourceProperty,
## given in $property. Simple values are shown first as a list,
## complex values (i.e., descriptions of blank nodes) as complete
## resource descriptions underneath.

#parse("header.vm")

  <ul class="breadcrumb">
    <li><a href="$back_uri">$back_label</a> <span class="divider">/</span></li>
    <li class="active">#parse("property-name.vm")</li>
  </ul>

#if (!$property.SimpleValues.Empty)
#parse("values.vm")
#end

#foreach ($resource in $property.ComplexValues)
#if ($resource.Title)
  <h3>$resource.Title</h3>
#else
  <h3>Resource #$velocityCount</h3>
#end
#set ($properties = $resource.Properties)
#parse("proptable.vm")
#end

#parse("footer.vm")
