#parse("header.vm")

#if ($image)
    <div class="image"><img src="$image" alt="Depiction of $title" /></div>
#end

#if ($comment)
    <p>$comment</p>
#end

#if (!$properties.isEmpty())
#parse("proptable.vm")
#else
    <p>No further information is available.</p>
#end

#parse("footer.vm")