img {
  width:100%;
}
.image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
td img {
  height:auto;
  margin-right: : 0px;
  padding: 0 10px 10px 0;
  width:100px;
}
.wrapword ul {
  list-style-type: none;
  margin: 0 0 25px 0;
}
.wrapword {
  word-break: break-word;
  text-align: justify;
  min-width: 50%;
}
.row-fluid {
  padding-bottom: 50px;
}
.justify {
  text-align: center;
}
.truncate {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
col.property-column {
  width: 13em;
}
body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 40px 0;
}
