<<<<<<< HEAD
img{
	width:100%;
}
.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.warning{
	background-color: #f0fcf0;
}
.property{
	width:25%;
}
td img{
	margin-right: : 0px;
	height:auto;
	width:100px;
	padding: 0 10px 10px 0;
}

.table thead tr th {
    background-color: #efefef;
}

.wrapword ul{
	list-style-type: none;
	margin: 0 0 25px 0;
}
.wrapword{
word-break: break-word;
text-align: justify;
min-width: 50%;
}
.row-fluid{
	padding-bottom: 50px;
}
.justify{
	text-align: center;
}
.truncate {
 -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

col.property-column { width: 13em; }
